html,
body {
  font-family: 'Roboto', Helvetica, sans-serif;
}

table {
  width: 100%;
  background-color: #ffffff;
  border: none;
}

th {
  font-size: 13px;
  font-weight: bold;
  color: #777777;
  margin: 0px;
  padding: 10px;
}

td {
  color: #444444;
  font-weight: 300;
  padding: 20px 10px;
  margin: 0px;
}

th,
td {
  text-align: left;
  border-bottom: 1px solid #f1f1f1;
}

.container {
  margin: 5px;
  font-size: 13px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.container h1 {
  font-size: 16px;
  color: #444444;
  text-align: center;
}

.offer {
  display: inline-block;
  margin: 4px;
  text-align: center;
  border: 1px solid #cccccc;
}

.offerTitle {
  font-size: 14px;
  color: #ffffff;
  background-color: #00b3b3;
  padding: 15px;
}

.offerContents {
  padding: 20px;
  background-color: #fafafa;
}

.finalValue {
  font-weight: bold;
  color: #2222ff;
}